@import "tailwindcss";

@theme {
  --color-primary: #2E8982;
  --color-primary-dark: #246d67;
  --color-secondary: #616160;
  --color-secondary-light: #8e8e8d;
  --color-accent: #FFD77C;
  --font-sans: 'Poppins', sans-serif;
}